<main>

<div class="card-panel hoverable teal lighten-5 z-depth-5">
  <div class="section center-align card-panel z-depth-5 teal lighten-2" id="index-banner"> <!-- top banner -->
      <h1 class="header center-on-small-only" id="banner">dateNite</h1>
  </div>
  <div class="center-align"> <!-- side nav toggle button -->
        <button ng-click="bc.displayMenu()" class="top-nav btn waves-effect waves-light"  name="button"><i class="material-icons">menu</i></button>
    </div>
</div> <!-- end hoverable -->

<div class="slider" slider>
  <ul class="slides">
      <li>
          <img src="/images/river.jpg">
          <div class="caption center-align">
              <h3>Whats dateNite!?</h3>
              <h5 class="light grey-text text-lighten-3">A simple app for planning your niteOut.</h5>
          </div>
      </li>
      <li>
          <img src="/images/bike.jpg">
          <div class="caption left-align">
              <h3>Tired of trying to pick dates?</h3>
              <h5 class="light grey-text text-lighten-3">That's where we come in!</h5>
          </div>
      </li>
      <li>
              <img src="/images/dinner.jpg">
              <div class="caption right-align">
          <h3>Somehow too many choices AND not enough options?</h3>
          <h5 class="light grey-text text-lighten-3">We can help you pick AND find!</h5>
          </div>
      </li>
      <li>
          <img src="/images/concert.jpg">
          <div class="caption center-align">
              <h3>Your adventure awaits</h3>
              <h5 class="light grey-text text-lighten-3">Theres always something to do if you're willing to try</h5>
          </div>
      </li>
  </ul>
</div> <!-- end slides -->

</main>
