#banner {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: white;
}

.slide {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

#listContainer {
  margin: 10px;
  padding: 10px;
}

#list1 {
  font-size: 24px;
}

#title {
  font-family: 'Merriweather', sans-serif;
}

.eventImg {
  width: 100%;
  height: 500px;
}

.parallax {
  display: block;
  top: -100px;
  width: 100%;
  height: 125%;
}

#fbEvent {
  height: 800px;
}

.fbDesc {
  padding: 10px;
}
