html {
  font-family: 'Montserrat';
}

.slider .slides{
  height: 80vh !important;
}
.slider .slides li img {
  height: 80vh !important;
}

#banner {
  height: 20vh;
}

#banner2 {
  height: 15vh;
  text-align: center;
}

.menuItem {
  font-size: 24px;
}

#nav-mobile {
  background-color: #80cbc4;
  width: 30vw !important;
}

.nav {
  margin-top: 20px;
}

.nav2 {
  background-color: #e0f2f1;
}

#header {
  color: white;
  text-align: center;
}

.topButton {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
}

#menuID {
  height: inherit;
}

.slide {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #64b5f6; /* Just change the color value and that's it*/
}

.parallax-container {
    height: 75vh;
    top: 50%;
    left: 0;
    right: 0;
  }

.pad {
  margin: 20px;
}

#list1 {
  font-size: 28px;
}

.eventImg {
  width: 100%;
  height: 60vh;
}

.parallax {
  display: block;
  top: -100px;
  width: 100%;
  height: 125%;
}

.fbEvent {
  height: 100vh;
  max-height: 100vh;
  overflow: scroll;
}

.fbDesc {
  padding: 10px;
}

.load {
  height: 50vh;
}

#wrong {
  float: right;
}

#bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('../images/cityscape.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-filter: blur(5px);
}

#loginForm {
  position: fixed;
  top: 30vh;
  left: 35vw;
  width: 25vw;
  margin: 0 auto;
  padding: 20px 22px;
  border: 1px solid;
}

#loginForm input {
  width: 300px;
  border: 1px solid;
  padding: 8px 24px 8px 10px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  margin-bottom: 19px;
  margin-top: 10px;
}

#loginForm input:focus {
  background-color: rgba(0,0,0,.4);
}

#loginButton {
  width: 250px;
  margin-bottom: 0;
  cursor: pointer;
}

#backLink {
  font-size: 24px;
}

#backLink:hover {
  text-decoration: underline;
  background-color: rgba(0,0,0,.2)
}

.saved {
  background-color: #90caf9;
}

.load {
  height: 52vh;
}

#foot {
  height: 12vh;
}

.eventText, .eventHead {
  margin: 0px !important;
}

.calendarContainer {
  height: 100vh !important;
  width: 99vw !important;
}

.dateHead, .dateDay {
  width: 14vw !important;
}

.dateDay {
  height: 16vh !important;
}

.ez-popover {
  top: 10vh;
  left: 30vw;
  height: 80vh;
  width: 40vw;
  overflow: scroll;
}

.ez-close-button {
  font-size: 54px;
  color: red;
}

.calImg {
  border-radius: 15px;
}

#map {
  height: 100vh;
  width: 100vw;
}

.types {
  width: 50%
}

.placeIn, .placeBtnCont {
  height: 6vh;
  margin-bottom: 0px;
}

.placeText {
  margin: 2px;
}

.ez-options {
  width: 98vw !important;
  font-size: 36px;
}

.date {
  font-size: 24px;
}

.ez-event-list {
  height: 14vh;
}

.events-number {
  display: none;
}

.ez-event-list-item {
  height: auto !important;
  font-size: 16px;
}

.ez-featured-image img {
  width: auto !important;
  max-width: 40vw;
}

.imgEvent {
  height: 30vh !important;
  margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh !important;
    max-height: 100vh !important;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 80%;
    overflow-y: scroll;
     -webkit-overflow-scrolling: touch;
     height:100%;
}

.close {
    position: absolute;
    right: 25px;
    top: 15px;
    color: #000;
    font-size: 68px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    animation: animatezoom 1s
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.picker__wrap, .picker__frame {
  width: 50vw !important;
  max-width: inherit;
}
.picker__month-display, .picker__year-display {
  font-size: 1.8rem
}
.picker__weekday-display, .picker {
  font-size: 2.2rem;
}
.clockpicker-tick {
  font-size: 1.5rem !important;
}
.clockpicker-display {
  vertical-align: inherit;
  height: auto;
}
.picker__weekday, .picker__footer, .picker__day, .picker__close, .picker__today, .picker__clear {
  font-size: 1.2rem !important;
}
.picker__day-display {
  font-size: 4rem;
}
.picker {
  line-height: 1.4;
}
.picker__box, .picker__date-display, .picker__weekday-display, .picker__month-display,
.picker__day-display, .picker__year-display, .picker__calendar-container {
  height: auto !important;
  width: auto !important;
}

@media screen and (max-width: 990px) {
  #banner {
    height: 18vh;
  }
  #banner2 {
    height: 12vh;
    text-align: center;
  }
  .loggedInDiv{
    height: 12vh;
  }
  .loggedIn {
    font-size: 32px;
  }
  #menuIcon {
    font-size: 180px;
  }
  #header {
    font-size: 96px;
  }
  .topButton {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 46px;
  }
  #loginForm {
    left: 20vw;
    height: 35vh;
    width: 60vw;
  }
  #loginForm input {
    width: 50vw;
    height: 5vh;
    font-size: 36px;
    text-align: center;
  }
  #loginButton {
    width: 45vw;
    height: 6vh;
    font-size: 36px;
  }
  #backLink {
    font-size: 48px;
  }
  blockquote {
    font-size: 18px;
  }
  .slideText {
    font-size: 104px !important;
  }
  .slideText2 {
    font-size: 74px !important;
  }
  .menuItem {
    font-size: 42px;
  }
  #nav-mobile {
    width: 55vw !important;
  }
  .nav {
    margin-top: 40px;
  }
  .menuItem {
    font-size: 42px;
  }
  .in {
    font-size: 36px !important;
    height: 6rem !important;
  }
  .dropdown-content li>span {
    font-size: 24px !important;
  }
  input.select-dropdown {
    height: 6rem !important;
    font-size: 24px !important;
  }
  .fbEvent {
    max-height: 80vh;
    height: auto;
  }
  .eventImg {
    height: 50vh
  }
  .eventHead {
    margin: 10px !important;
    font-size: 56px;
  }
  .eventText {
    font-size: 32px;
  }
  .eventText2 {
    font-size: 38px;
  }
  .link {
    margin: 20px;
  }
  .save {
    font-size: 40px;
    height: 5rem;
    margin: 20px;
  }
  .ez-popover {
    top: 25vh;
    left: 20vw;
    height: 50vh;
    width: 60vw;
    overflow: scroll;
  }
  .caltext {
    font-size: 20px;
  }
  .ez-event-list {
    height: 9vh;
  }
  .ez-event-list-item {
    display: none;
  }
  .events-number {
    font-size: 4.5rem;
    display: inline-block;
    margin-top: 5rem;
    margin-left: 1rem;
    color: #2196f3;
  }
  .ez-day-container {
    height: 100%;
  }
  .dateDay {
    height: 12vh !important;
  }
  .date {
    font-size: 3.3rem;
  }
  .ez-options {
    font-size: 3rem;
  }
  .calendarContainer {
    height: 70vh !important;
  }
  .placeBtnCont {
    height: auto;
  }
  .placeBtn {
    height: 4rem;
  }
  #map {
    height: 68vh;
  }
  .inputPlace, .inputPlace2 {
    height: 4vh;
  }
  .inputPlace {
    margin-top: 30px;
  }
  .placeInput {
    height: 5vh !important;
    font-size: 2rem !important;
  }
  .placeInLabel {
    font-size: 2rem !important;
  }
  .plLabel {
    font-size: 1.5rem !important;
  }
  .input-field .placeInLabel label:not(.label-icon).active {
    font-size: 2rem !important;
  }
  .plcField {
    margin-top: 4rem;
  }
  .ez-featured-image img {
    max-width: 60vw;
  }
  .alertify-notifier {
    font-size: 48px;
    width: 25vw !important;
  }
  .ajs-message {
    width: 50vw !important;
  }
  .picker__wrap, .picker__frame {
    width: 75vw !important;
    max-width: inherit;
  }
  .picker__month-display, .picker__year-display {
    font-size: 2.5rem
  }
  .picker__weekday-display, .picker {
    font-size: 3.2rem;
  }
  .picker__weekday, .picker__footer, .picker__day, .picker__close, .picker__today, .picker__clear {
    font-size: 1.6rem !important;
  }
  .picker__day-display {
    font-size: 6rem;
  }
  .picker {
    line-height: 2;
  }
  .picker__box, .picker__date-display, .picker__weekday-display, .picker__month-display,
  .picker__day-display, .picker__year-display, .picker__calendar-container {
    height: auto !important;
    width: auto !important;
  }
}
