<div class="input-field col s4">
    <input ng-model="fb.location" id="location" type="text" class="validate">
    <label for="location">Enter Address</label>
</div>
<button class="btn" ng-click="fb.getLocation()">Find Events</button>
<div ng-if="fb.loading" class="container center-align">
  <img src="https://s-media-cache-ak0.pinimg.com/originals/58/4b/60/584b607f5c2ff075429dc0e7b8d142ef.gif" alt="">
</div>
<div class="container">
  <div class="row">
    <div id="fbEvent" class="col s6 hoverable container" ng-repeat="x in fb.events" ng-click="fb.togglePannel($index)">
        <div ng-show="x.eventPannel">
          <h4 class="center-align">{{x.name}}</h4>
          <p class="center-align">{{x.category}}</p>
          <img class="eventImg" ng-src="{{x.coverPicture}}" alt=""></img>
          <p class="center-align">attending: {{x.stats.attending}}  maybe: {{x.stats.maybe}}</p>
          <p class="center-align">Starts At: {{x.startTime}}</p>
          <p class="center-align">Ends At: {{x.endTime}}</p>
        </div>
        <div ng-hide="x.eventPannel" class="fbDesc">
          <h2 class="center-align">Description</h2>
          <p class="center-align">{{x.description}}</p>
          <p class="center-align"><a href="https://www.facebook.com/events/{{x.id}}" target="_blank"><span>More Info...</span></a></p>
          <h3 class="center-align">Location</h3>
          <p class="center-align"><a ng-href="http://maps.google.com/?q={{x.venue.location.city}}+{{x.venue.location.street}}+{{x.venue.location.zip}}"
          target="_blank"><span>{{x.venue.location.street}}, {{x.venue.location.city}}, {{x.venue.location.zip}}</span></a></p>
          <div class="center-align"><button class="btn blue lighten 2" name="button">Save</button></div>
        </div>
    </div>
  </div>
</div>
<div ng-if="fb.loading" class="spacer">

</div>
