<div class="inputs row">
  <div class="input-field col l6 s8">
      <input ng-model="fb.location" id="location" type="text" class="in validate">
      <label class="inLabel" for="location">Enter Address</label>
  </div>
  <div class="col l3 s4">
    <div class="input-field">
      <select ng-model="fb.timeSelect" material-select>
          <option value="" disabled selected>Choose your option</option>
          <option value="172800" selected>Two days</option>
          <option value="604800">One Week</option>
          <option value="1209600">Two Weeks</option>
          <option value="2629746">One Month</option>
      </select>
      <label class="inLabel" for="">From Now until</label>
    </div>
  </div>
  <div class="col l3 s4 offset-s4 center-align">
    <button class="in btn" ng-click="fb.getLocation()">Find Events</button>
  </div>
</div>
<div ng-if="fb.loading" class="center-align">
  <img class="load" src="https://s-media-cache-ak0.pinimg.com/originals/58/4b/60/584b607f5c2ff075429dc0e7b8d142ef.gif" alt="">
</div>
<div class="container">
  <div class="row">
    <div id="fbEvent" class="col l6 s12 hoverable container" ng-repeat="x in fb.events" ng-click="fb.togglePannel($index)" ng-class="{saved: x.saved}">
        <div ng-show="x.eventPannel">
          <h4 class="eventHead center-align">{{x.name}}</h4>
          <p class="flow-text eventText center-align">{{x.category}}</p>
          <img class="eventImg" ng-src="{{x.coverPicture}}" alt=""></img>
          <p class="flow-text eventText center-align">attending: {{x.stats.attending}}  maybe: {{x.stats.maybe}}</p>
          <p class="flow-text eventText center-align">Starts: {{x.startTimeDisplay}}</p>
          <p class="flow-text eventText center-align">Ends: {{x.endTimeDisplay}}</p>
        </div>
        <div ng-hide="x.eventPannel" class="fbDesc">
          <h2 class="eventHead center-align">Description</h2>
          <p class="flow-text eventText2 center-align">{{x.description | limitTo:500}}</p>
          <p class="flow-text link eventText2 center-align"><a href="https://www.facebook.com/events/{{x.id}}" target="_blank"><span>More Info...</span></a></p>
          <h3 class="eventHead center-align">Location</h3>
          <p class="flow-text link eventText2 center-align"><a ng-href="http://maps.google.com/?q={{x.venue.location.city}}+{{x.venue.location.street}}+{{x.venue.location.zip}}"
          target="_blank"><span>{{x.venue.location.street}}, {{x.venue.location.city}}, {{x.venue.location.zip}}</span></a></p>
          <div class="center-align"><button ng-hide="x.saved" ng-click="fb.saveEvent($index)" class="save btn blue lighten 2" name="button">Save</button></div>
        </div>
    </div>
  </div>
</div>
