<div class="card-panel teal lighten-5">
    <h1 id="title">What's dateNite?</h1>
</div>
<div class="parallax-container">
    <div parallax class="parallax"><img class="parallax" src="images/cityscape.jpg"></div>
</div>


<div class="card-panel teal lighten-5">
    <h3>• dateNite is an interactive app developed to improve your night out.</h3>
    <h3>• dateNite will take your input and help you to locate: </h3>
    <div id="listContainer" class="teal lighten-3 z-depth-5">
      <ol id=list1>
        <li>Events near you</li>
        <li>Resturaunts near you or the event</li>
        <li>Hiking trails in the surrounding area</li>
        <li>concerts and art exhibits</li>
      </ol>
    </div>

</div>
