<div class="parallax-container">
    <div parallax class="parallax"><img src="images/cityscape.jpg" ></div>
</div>
<h2 class="center-align">DateNite</h2>
<h3 class="center-align">An interactive app developed to improve your night out.</h3>
<h3 class="center-align">It can help you to locate: </h3>
<div class="row">
  <div class="col s2 offset-s1">
    <blockquote>
      DateNite makes my life easier on a daily basis! <br>
      I'll never have to pick a date again! <br>
      -Tom Sowyer
    </blockquote>
  </div>
  <div class="col s4 offset-s1 z-depth-5 center-align">
    <ul id=list1>
      <li>Events</li>
      <li>Resuraunts</li>
      <li>Concerts</li>
      <li>Art Exhibits</li>
    </ul>
  </div>
  <div class="col s2 offset-s1">
    <blockquote>
      DateNite makes my life easier on a daily basis! <br>
      I'll never have to pick a date again! <br>
      -Tom Sowyer
    </blockquote>
  </div>
</div>
