<main>

<div class="slider" slider>
  <ul class="slides">
      <li>
          <img class="slideshow" src="/images/river.jpg">
          <div class="caption center-align">
              <h3 class="slideText slide" >Whats dateNite?</h3>
              <h5 class="slideText2 light grey-text text-lighten-3">A simple app for planning your niteOut.</h5>
          </div>
      </li>
      <li>
          <img class="slideshow" src="/images/bike.jpg">
          <div class="caption right-align">
              <h3 class="slideText slide" >Tired of trying to pick dates?</h3>
              <h5 class="slideText2 light grey-text text-lighten-3">That's where we come in!</h5>
          </div>
      </li>
      <li>
          <img class="slideshow" src="/images/dinner.jpg">
          <div class="caption left-align">
              <h3 class="slideText slide" >Too many choices but not enough options?</h3>
              <h5 class="slideText2 light grey-text text-lighten-3">We can help you pick AND find!</h5>
          </div>
      </li>
      <li>
          <img class="slideshow" src="/images/concert.jpg">
          <div class="caption center-align">
              <h3 class="slideText slide" >Your adventure awaits</h3>
              <h5 class="slideText2 light grey-text text-lighten-3">Theres always something to do if you're willing to try</h5>
          </div>
      </li>
  </ul>
</div> <!-- end slides -->

</main>
