<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAO_ZYVjCA7oxtW2S9lfhNT5RI-I-f2FWc&libraries=places&callback=getLocation" async defer></script>

<div class="row">
    <div input-field class="placeIn col l3 s6" >
      <select class="placeIn" ng-model="gm.type" material-select watch>
        <option value="" disabled selected>Choose your option</option>
        <option value="restaurant">Restaurant</option>
        <option value="art_gallery">Art Gallery</option>
        <option value="movie_theater">Movie Theatre</option>
        <option value="bowling_alley">Bowling Alley</option>
        <option value="museum">Museum</option>
        <option value="night_club">Night Club</option>
        <option value="park">Park</option>
        <option value="cafe">cafe</option>
      </select>
      <label class="plLabel">Type of place</label>
    </div>
    <div input-field class="placeIn col l3 s6" >
      <select class="placeIn" ng-model="gm.distance" material-select watch>
        <option value="" disabled selected>Choose your option</option>
        <option value="1609.34">1 mile</option>
        <option value="3218.69">2 miles</option>
        <option value="8046.72">5 miles</option>
        <option value="16093.4">10 miles</option>
      </select>
      <label class="plLabel">Distance</label>
    </div>
    <div class="inputPlace placeIn input-field col l5 s8">
        <input class="inputPlace inputPlace2 placeIn" ng-model="gm.location" id="location" type="text" class="in validate">
        <label class="plLabel" for="location">Enter an Address or Place</label>
    </div>
    <div class="inputPlace2 placeBtnCont col l1 s4 valign-wrapper">
      <button type="button" class="col s12 btn placeBtn light-blue lighten-4" ng-click="gm.create()">Find</button>
    </div>
  </div>
  <div ng-if="gm.loading" class="center-align">
    <img class="load" src="https://s-media-cache-ak0.pinimg.com/originals/58/4b/60/584b607f5c2ff075429dc0e7b8d142ef.gif" alt="">
  </div>
  <div class="row">
    <div id="map"></div>
  </div>
  <div id="id01" class="modal">

    <span onclick="document.getElementById('id01').style.display='none'"
      class="close" title="Close Modal">&times;</span>

    <div class="modal-content animate">
      <h1 class="center-align">Trip Info</h1>
      <div class="container row">
        <div class="input-field col l6 s12 plcField">
          <label class="placeInLabel" for="startDate">Start date</label>
          <input input-date
              class="placeInput"
              type="text"
              name="created"
              id="startDate"
              ng-model="gm.startDate" />
        </div>
        <div class="input-field col l6 s12 plcField">
          <label class="placeInLabel" for="startTime">Start Time</label>
          <input id="startTime" class="timepicker placeInput" ng-model="gm.startTime" input-clock data-twelvehour="false" type="text" />
        </div>
      </div>
      <div class="container row">
        <div class="input-field col l6 s12 plcField">
          <label class="placeInLabel" for="endDate">Start date</label>
          <input input-date
              class="placeInput"
              type="text"
              name="created"
              id="endDate"
              ng-model="gm.endDate" />
        </div>
        <div class="input-field col l6 s12 plcField">
          <label class="placeInLabel" for="endTime">End Time</label>
          <input id="endTime" class="timepicker placeInput" ng-model="gm.endTime" input-clock data-twelvehour="false" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 plcField">
          <textarea ng-model="gm.description" id="description" class="materialize-textarea placeInput"></textarea>
          <label class="placeInLabel" for="description">Description</label>
        </div>
      </div>
      <div class="row center-align">
        <button type="button" name="button" class="btn center-align" ng-click="gm.saveEvent()">Save</button>
      </div>
    </div>
  </div>
